
.login-wrapper {
  width: 420px;
  height: 480px;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  color: #000000;
  border-radius: 10px;
  padding: 30px 40px;
  box-shadow: #9c9292 0px 0px 20px 0px;
}

.login-wrapper .login-top-icon {
  font-size: 37px;
  margin-bottom: 18px;
  margin-top: 8px;
}

.login-wrapper p {
  font-size: 16px;
  text-align:left;
  font-weight: 600;
}

.login-wrapper .login-sub-topic{
    font-size: 14px;
    margin-top: 4px;
    font-weight: 500;
}

.login-wrapper .login-input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.login-input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(36, 33, 33, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #000000;
  padding: 20px 45px 20px 20px;
}

.login-input-box input::placeholder {
  color: #000000;
}

.login-input-box .icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 16px;
}

.login-wrapper button {
  width: 100%;
  height: 45px;
  background: #000000;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
}

.login-wrapper .login-register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 35px 0 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(127, 127, 127, 0.2);
    border-radius: 10px;
    padding: 12px 0;
    background-color: #65626215;
}

.login-register-link p {
    font-weight: 400;
}

.login-register-link p a {
    color: #3d3535;
    text-decoration: none;
    font-weight: 600;
}

.login-register-link p a:hover{
    text-decoration: underline;
}